* {

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

body {

    padding: 0.5rem;
    background-color: darkslategray;

}

h1 {

    text-align: center;
    color: #ffffff;

}

.formulario {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    margin: 0 auto;

}

.btn{

    color: #ffffff;
    text-decoration: none;

}

.button {

    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 10px auto;
    
}

input{

    color: #000000;
    background-color: darkslategray;
    
}

input,
select {

    color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 15px;

}

input:hover,
select{

    background-color: darkslategray;
    
}

button {

    margin-top: 30px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: darkslategray;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;

}

#painel{

    width: max-content;
    gap: 50px;
    border: #007bff;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 25px;
    
}